body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    
  }

.App {
  display: flex;
}

.page {
  margin-left: 300px;
  margin-right: 25px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .page {
    margin-left: 25px;
    margin-right: 25px;
  }
}